<html>
<body>
  <div class="container">
    <h1>Attention</h1>
    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum ipsum quis dui mollis, vel consequat arcu laoreet. Sed at vestibulum lectus, at sodales magna. In euismod mauris a justo consequat ultrices. Morbi in libero vitae ipsum feugiat commodo.</p>
    <h2>Instructions:</h2>
    <ul class="instructions">
      <li>Answer all questions to the best of your ability.</li>
      <li>Each question may have multiple-choice answers.</li>
      <li>Click the "Next" button to proceed to the next question.</li>
      <li>You can navigate between questions using the navigation buttons.</li>
      <li>Once you complete the quiz, click the "Submit" button to see your results.</li>
    </ul>
    <a href="quiz.html" class="start-button">Start Quiz</a>
  </div>
</body>
</html>
